class/bin
class_follow/bin
polymorphism/bin
.vscode/settings.json
template/bin
io_f_stream/bin
stl/bin
data_struct/bin
stl/1.cpp
physics_experiment/bin/solid_laser.exe
work/bin/ai.exe
work/bin/soild_copy.exe
work/bin/soild_opti.exe
work/bin/solid.exe
